[package]

name = "twitter-api"
version = "0.2.0"
authors = ["gifnksm <makoto.nksm+github@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/gifnksm/twitter-api-rs"
description = "Unofficial Rust library for the Twitter API."
documentation = "https://gifnksm.github.io/twitter-api-rs"

[dependencies]
oauth-client = "0.2"
rustc-serialize = "0.3"
